@import './fonts.scss';
@import './layout.scss';
@import './buttons.scss';
@import './rightzone.scss';

body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	background: url('../images/woodTexture.jpg');
}

.blank-puzzle__canvas {
	display: flex;
	justify-content: center;
	align-items: center;
    background: #fcfcfc;
    border: 3px solid black;
    padding: 5px;
    border-radius: 5px;
    position: relative;
    box-shadow: 2px 4px 3px ;
}

.puzzle-blank { 
  top: 0;
  opacity: .9;
  width: 900px;
  border-radius: 5px;
}

@media  (min-width: 1600px) {
	.puzzle-blank {
		width: 1200px;
	}
}


.countdown-container {
	width: 100%;
	font-size: 4rem;
	text-align: center;
	padding: 15px 5px;
	font-family: $lato;
	opacity: .5;
}







// //////////////// options side panel /////// //// /
// 
// 


.right-drop__zone {
	display: flex;
	flex-direction: row-reverse;
	overflow: hidden;
}
    
.options-list {
  transform: translateX(150px);
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0; 
  list-style-type: none;

}


.menu {
	top: 20px;
	right: 50px;
}

.option {
	font-family: $lato;
	font-size: 2rem;
	flex: 1;
	font-variant: small-caps;
	text-align: center;
	color: #fff;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
    border: 1px solid black;
    width: 150px;
    border: 1px solid grey;

    &:hover {
    	color: lightblue;
    	background: #fff;
    }
    &:active {
    	letter-spacing: 1px;
    }
}



/// footer

footer{ 
	text-transform: capitalize;

	text-align: center;

}