body {
    display: grid;
    grid-template-areas:  "header header header" 
                          "leftzone main rightzone" 
                          "footer footer  footer";
    grid-template-columns: minmax(250px, 1fr) 2fr minmax(250px, 1fr);
    grid-template-rows: 50px 1fr 20px;
    overflow: hidden;
    height: 100vh;
}

@media (max-width: 1415px) {
   body {    
    grid-template-areas: "header header header"
                         " leftzone  main main"
                         " rightzone main main"
                          "rightzone footer footer"; 
   grid-template-columns: minmax(315px,1fr) 1fr 1fr ;                     
   grid-template-rows:  80px 320px 1fr 20px;
   }
}

.puzzle-container {
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
}

@media (max-width: 1415px) {
    .puzzle-container {
        margin-top: 5px;
    }
}

@media (min-width: 2190px) {
    .puzzle-container {
        margin-top: 250px;
    }
}

.left-drop__zone {
    grid-area: leftzone;
}

.right-drop__zone {
    grid-area: rightzone;
}

header {
    padding: 0;
    margin: 0;
    grid-area: header;
}

footer {
    grid-area: footer;
}