body {
    display: grid;
    grid-template-areas:  "header header header" 
                          "leftzone main rightzone" 
                          "footer footer  footer";
    grid-template-columns: minmax(250px, 1fr) 2fr minmax(250px, 1fr);
    grid-template-rows: 50px 1fr 20px;
    overflow: hidden;
    height: 100vh;
}

@media (max-width: 1415px) {
   body {    
    grid-template-areas: "header header "
                         " leftzone  main "
                         " rightzone main "
                          "footer footer "; 
   grid-template-columns: minmax(280px, 320px) 1fr;                     
   grid-template-rows:  70px 290px 1fr 20px;
   }
}

.puzzle-container {
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
    grid-area: main;
}

@media (max-width: 1415px) {
    .puzzle-container {
        margin-top: 15px;
        margin-left: 10px;
    }
}

@media (min-width: 2190px) {
    .puzzle-container {
        margin-top: 250px;
    }
}

.left-drop__zone {
    grid-area: leftzone;
}

.right-drop__zone {
    grid-area: rightzone;
}

header {
    padding: 0;
    margin: 0;
    grid-area: header;
}

footer {
    grid-area: footer;
}