@import './animate'; 
@import './fonts';
@import './layout';
@import './menu.scss';
@import './hexagon-grid';
@import './clock';
@import './preview';
@import './modal'; 
@import './muteIcon';
@import './footer';

body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	background: url('../images/woodTexture.jpg');
}

.blank-puzzle__canvas {
	display: flex;
	justify-content: center;
	align-items: center;
    background: #fff;
    border: 3px solid black;
    padding: 5px;
    border-radius: 5px;

    box-shadow: 2px 4px 3px ;

}

.puzzle-blank { 
  top: 0;
  width: 900px;
  border-radius: 5px;

}


@media  (min-width: 2190px) {
	.puzzle-blank {
		width: 1200px;
	}

	.blank-puzzle__canvas {
		width: 1205px;
	}
}

.piece {
   cursor:move;
   width: 75px;
   transition: transform 25ms ease-in,filter 25ms ease;
   &:hover {
   	transform: scale(1.8);
   	filter: drop-shadow(10px 25px 8px rgba(0,0,0,0.9))  brightness(1.5);
   }
}


.left-drop__zone-pieces .piece {
	z-index: 10;
}

@media (min-width: 1425px) and (max-width: 2189px) {
  .piece {
  	&:hover {
  		transform: scale(1.5);
  	}
  }
}

@media (max-width: 1415px ) {
	.piece {
	width: 65px;

}
}

@media (min-width: 2190px) {
	.piece {
		width: 145px;
       margin: 5px;
        transition: transform .2s ease-out;
	}
    .piece:hover {
      transform: scale(1.1);
    }
}




.validtarget {
	color: red;
}







