

 .mpopup {
    display: block;
    position: fixed;
    z-index: 9999999999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,1);
    transition: opacity 1s ease; 
}


#defeatBox {
	display: none;
}

#successBox {
	display: none; 
}

 .bear {
 	font-size: 3.5rem;
 	color: red;
 	text-transform: capitalize;
 }

.mpopup-content {
    position: relative;
    border-radius: 25px;
    background-color: HSLA(342, 54%, 40%, 1);
    margin: auto;
    padding: 0;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    box-shadow: 1px 5px 100px #fff;
    animation-name: animatetop;
    animation-duration: 0.4s; 
}

.modal-story {
	padding: 5px;
	padding-left: 20px;
	font-size: 35px;
	font-family: $lato;
	&:first-letter {
		text-transform: capitalize;
	}
}

.mpopup-head {
    background-color: #252732;
    color: white;
    display: flex;
   justify-content: center;
  align-items: center;
  height: 400px;
}
.mpopup-main {
  padding: 2px 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}


.mpopup-main > p {
	color: #fff;
	font-size: 2rem;
}

.modal-btn {
  padding: 15px;
  font-size: 2rem;
  font-variant: small-caps;
  cursor: pointer;
  user-select: none;
  outline: none;
  border-radius: 5px;
  margin: 5px;
    &:hover {
    background: #252732;
    color: #fff;
  }
  &:active {
    box-shadow: 5px 5px 3px rgba(0, 0 , 0, .2);
    letter-spacing: 1px;
  }
}
.mpopup-foot {
    padding: 2px 16px;
    background-color: #ff0000;
    color: #ffffff;
}

/* add animation effects */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}


.defeat-message {
	font-size: 3rem;
	font-family: $lato;
}

.modal-image {
  width: 450px;
  height: 300px;
  padding-right: 10px;
}